<div class="container h-100">

  <div class="row h-100 justify-content-center align-items-center">

    <div class="col-12">


      <form class="sign-up-form">
        <mat-form-field class="name-field field-full-width">
          <mat-label>Please enter your fullname</mat-label>
          <input type="text" #namelength matInput [formControl]="nameFormControl" placeholder="Type here..."
            maxlength="30">
          <mat-hint align="end">{{namelength.value.length}}/30</mat-hint>

          @if (nameFormControl.hasError('maxlength') ) {
          <mat-error>Max Length is 30 character</mat-error>
          }
          @if (nameFormControl.hasError('required')) {
          <mat-error>Name is <strong>required</strong></mat-error>
          }


        </mat-form-field>
        <mat-form-field class="email-field field-full-width">
          <mat-label>Please enter your email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">

          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          }


        </mat-form-field>
        <mat-form-field class="email-confirmation-field field-full-width">
          <mat-label>Please confirm your email</mat-label>
          <input type="email" matInput [formControl]="emailConfirmationFormControl" placeholder="Ex. pat@example.com">

          @if (this.emailConfirmationFormControl.hasError('notMatching')) {
          <mat-error>Emails are not identical</mat-error>
          }

        </mat-form-field>

        <mat-form-field class="password-field field-full-width">
          <mat-label>Please enter your password</mat-label>
          <input [formControl]="pwdFormControl" matInput [type]="hide ? 'password' : 'text'" name="pwd">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (pwdFormControl.hasError('minlength') ) {
          <mat-error>Minimum Length is 8 characters</mat-error>
          }
          @if (pwdFormControl.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
          }


        </mat-form-field>

        <mat-form-field class="password-confirmation-field field-full-width ">

          <mat-label>Please confirm your password</mat-label>
          <input [formControl]="this.pwdConfirmationFormControl" matInput [type]="hide ? 'password' : 'text'"
            name="pwdConfirm">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          @if (this.pwdConfirmationFormControl.hasError('notMatching')) {
          <mat-error>Passwords are not identical</mat-error>
          }

        </mat-form-field>


        <button (click)="signUp()" type="submit" mat-stroked-button color="primary">
          <mat-icon>login</mat-icon>
          Sign up
        </button>

        <div class="mt-3">
          <mat-label>In case you already have an account Please <a routerLink="/">Sign In</a></mat-label>
        </div>

      </form>

    </div>
  </div>
</div>